head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1')

    title <%= title %>
    meta(http-equiv='Content-type', content='text/html;charset=UTF-8')
    meta(name="keywords", content="")
    meta(name="description", content="")

    link(href='favicon.ico', rel='shortcut icon', type='image/x-icon')
    link(rel='stylesheet', href='../public/css/master.css')
      
    script(type="text/javascript", src="//use.typekit.net/ufb7vvd.js")
    script(type="text/javascript") try{Typekit.load();}catch(e){}
